<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShweEnglishLessons"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".quiz.QuizPlayer"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:exported="true" />
        <activity
            android:name=".webview.VocaWebView"
            android:exported="false" />
        <activity
            android:name=".webview.DetailsWebView"
            android:exported="false" />
        <activity
            android:name=".webview.SongLyrics"
            android:exported="false" />
        <activity
            android:name=".note.NoteActivity"
            android:exported="false" />
        <activity
            android:name=".note.NoteTakingActivity"
            android:exported="false" />

        <activity
            android:name=".quiz.QuizMain"
            android:hardwareAccelerated="true"
            android:exported="false" />
        <activity
            android:name=".quiz.QuizReviewActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>